.history-page
  padding-top: 76px

  header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px

    h2
      margin: 0

  .history-card
    display: flex
    justify-content: flex-end

    .history-card__content-wrapper
      background: #4776e6
      margin-bottom: 16px
      border-radius: 20px
      position: relative
      width: calc(100% - 60px)

      .history-card__patient-id
        position: absolute
        width: 160px
        height: 80%
        background: linear-gradient(45deg, #4776e6, #1890ff)
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)
        z-index: 100
        top: 10%
        left: -60px
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        color: white
        font-weight: bold
        font-size: 30px
        cursor: pointer

        .history-card__patient-label
          font-size: 16px
          color: #4776e6
          background: white
          padding: 0 10px
          border-radius: 5px
          transition: .3s all
          white-space: nowrap
          margin-bottom: 0

      .history-card__content
        width: calc(100% - 16px)
        height: 100%
        background: white
        border-radius: 20px
        transition: .3s width
        padding: 30px 0 30px 116px

        .parameter
          margin-bottom: 16px

          p
            margin: 0

          .parameter__description
            font-size: 14px

          .parameter__value
            font-size: 20px

        .action
          .more_button
            background: linear-gradient(45deg, #4776e6, #1890ff)
            font-size: 16px
            color: white
            width: 100%
            border: none
            padding: 7px
            border-radius: 20px
            cursor: pointer
            margin-top: 7px
            outline: none
            transition: .3s background

            &:hover
              background: linear-gradient(45deg, #2ba7ff, #1890ff)

    @media screen and (max-width: 700px)
      .history-card__content-wrapper
        width: 100%
        border-radius: 5px

        .history-card__patient-id
          left: 16px
          top: 16px
          font-size: 20px
          width: auto
          height: auto
          flex-direction: row
          padding: 8px 8px
          border-radius: 5px

          .history-card__patient-label
            font-size: 20px
            margin-left: 10px

        .history-card__content
          border-radius: 5px
          padding: 76px 0 16px 0

    @media screen and (max-width: 420px)
      .history-card__content-wrapper
        .history-card__content
          .parameter
            .parameter__value
              font-size: 18px

/* перенести в какую-то глобальную штуку или компанент*/
.filters
  padding: 16px
  .filter-item
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px
    .anticon
      margin-left: 8px
      cursor: pointer



