.main-page
  margin: 0 auto
  .main-page__cards
    .card__wrapper
      margin-bottom: 16px
  .main-page__categories
    padding: 76px 0 16px 0

    .main-page__category
      .main-page__category_title
        margin-top: 26px

    .main-page__category_description
      padding-top: 15px
      text-align: justify

@media screen and (max-width: 420px)
  .main-page
    .main-page__categories
      padding-top: 16px
      margin-bottom: 46px
