.patient-page
  padding-top: 76px

  header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px
    h2
      margin: 0

  .site-page-header-ghost-wrapper
    padding: 12px 24px
    border: 2px solid #332e2a29
    margin-bottom: 16px
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)

    &:first-child
      margin-top: 16px

    .ant-page-header
      padding: 24px 0
