.preparations-page
  margin: 0 auto
  padding-top: 16px
  .preparations-page__forms
    background: #fff
    padding: 16px 0
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
    margin: 60px 16px 16px 16px


@media screen and (max-width: 420px)
  .preparations-page
    //margin-bottom: 60px
    .preparations-page__forms
      margin: 0 16px 16px 16px
