
.masses-page
  max-width: 960px
  margin: 0 auto
  padding-top: 16px

  .masses-page__form
    background: #fff
    padding: 16px
    border-radius: 15px
    margin: 60px 16px 16px 16px

@media screen and (max-width: 420px)
  .masses-page
    padding-bottom: 60px
    .masses-page__form
      margin: 0 16px 16px 16px
