.upload-page
  margin: 0 auto
  padding-top: 76px

  .upload-page__cropper-result
    overflow: hidden

    img
      height: 400px

  .upload-page__from
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
    background: #fff
    overflow: hidden
    .instruments
      padding: 16px

    .file_name
      font-family: 'Source Sans Pro', sans-serif
      font-size: 20px
      margin-bottom: 0
      text-align: right

@media screen and (max-width: 420px)
  .upload-page
    padding-top: 16px
    padding-bottom: 60px

    .upload-page__cropper
      padding-top: 44px
      height: calc(100vh - 76px)
      margin: 0 -16px

    .upload-page__form
      margin: 16px 16px 16px 16px

