.main-layout
  min-height: 100vh
  background: #f0efeb
  .ant-badge
    sup
      top: 50%
      right: -60px
    .ant-badge-count
      box-shadow: 0 0 0 1px #fff
      background-color: #4776e6
  .main-layout__right-panel
    width: 240px
    position: fixed
    height: 100%
    top: 0
    display: flex
    flex-direction: column
    transition: .3s right
    z-index: 500

    .right-panel__content
      position: relative
      height: calc(100% - 60px)
      overflow-y: scroll
      background: white
      box-shadow: 0 0 4px rgba(0, 0, 0, .2)


    .right-panel__header
      height: 60px
      padding: 0 16px
      display: flex
      align-items: center
      background: #332e2a
      position: relative

      &:after
        position: absolute
        content: ''
        width: 1px
        height: 100%
        left: 0
        top: 0
        background: rgba(209, 209, 209, 0.30)

      .right-panel__title
        border-bottom: 1px solid rgba(209, 209, 209, 0.30)
        font-size: 12px
        color: #e0e0e0

  .right-panel_show
    right: 0

  .right-panel_hide
    right: -240px

  .sidebar_show
    left: 0

  .sidebar_hide
    left: -240px

  .main-layout__sidebar
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
    transition: .3s left
    width: 240px
    position: fixed
    height: 100%
    background: rgb(21, 115, 255)
    top: 0
    z-index: 500

    .main-layout__logo
      position: relative
      display: flex
      align-items: center
      height: 60px
      border-bottom: 1px solid rgba(0, 0, 0, 0.06)
      margin: 0 16px

      .anticon
        font-size: 19px
        margin-bottom: 0.5em
        color: white
        cursor: pointer

      h2
        color: white
        font-family: 'Zilla Slab', serif
        font-size: 30px
        margin-bottom: 0
        text-align: center
        width: 100%

    .main-layout__menu
      padding: 0 16px

      .main-layout__menu-item
        margin-top: 16px
        text-align: center

        a
          width: 100%
          color: white
          display: inline-block
          padding: 5px 10px
          font-family: 'Source Sans Pro', sans-serif
          font-size: 15px

        .menu_item_active
          background: white
          border-radius: 20px
          color: rgb(21, 115, 255)

  .main-layout__content-wrapper
    flex: 1 0 auto

  .main-layout__content
    transition: .3s all
    margin-left: 240px
    margin-right: 240px
    display: flex
    flex-direction: column
    min-height: 100vh

  .without_sidebar
    margin-left: 0

  .without_help
    margin-right: 0

  @media screen and (max-width: 1000px)

    .sidebar_show
      box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.30)

    .main-layout__content
      margin-left: 0
      margin-right: 0

    .main-layout__content
      max-height: 100vh
      overflow: hidden

    .main-layout__content.without_sidebar.without_help
      overflow-y: auto
      max-height: none

    .main-layout__content
      .overlay
        position: fixed
        height: 100%
        width: 100%
        z-index: 400
        background: rgba(17, 17, 17, 0.50)
        overflow: hidden


.help
  .help__card
    font-size: 16px
    text-align: left
    background: white
    padding: 8px 16px
    position: relative

    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 16px
      width: calc(100% - 32px)
      height: 1px
      background: rgba(0, 0, 0, 0.32)

    &:first-child
      padding-top: 16px

    &:last-child
      &:after
        width: 0

.right-panel__close
  width: 40px
  height: 40px
  background: rgb(20, 107, 238)
  border: none
  border-radius: 50%
  color: white
  position: fixed
  bottom: 16px
  right: 100px
  outline: none
  cursor: pointer
  transition: .3s background, .3s right

  &:hover
    background: #1C9FFF

.right-panel_hide
  .right-panel__close
    right: -100px

