.form_mobile_container_hidden
  position: relative

  .mobile-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 300

.mobile-select
  animation: toTop
  animation-duration: 0.3s
  width: 100%
  position: fixed
  height: 100%
  background: rgb(21, 115, 255)
  padding: 20px
  z-index: 900
  top: 0
  left: 0
  display: flex
  justify-content: space-between
  flex-direction: column

  .mobile-select__content
    .content__item
      transition: 0.3s padding
      padding: 10px 5px 10px 0
      margin-bottom: 5px
      color: white
      font-size: 16px

    .content-item-active
      transition: 0.3s padding
      padding: 10px 5px 10px 10px
      border-radius: 30px
      background: white
      color: #1772fb
      margin-bottom: 5px
      font-size: 16px

  .mobile-select__description
    margin-top: 20px
    color: white
    font-family: 'Source Sans Pro', sans-serif
    font-size: 16px

  .mobile-select__footer
    button
      margin-right: 10px

  .mobile-select__logo
    position: relative
    display: flex
    justify-content: space-between
    align-items: center

    h2
      color: white
      font-family: 'Tahoma', cursive
      font-size: 25px

    &:after
      content: ''
      position: absolute
      display: block
      top: 56px
      left: 0
      width: 100%
      height: 1px
      background: rgba(0, 0, 0, 0.04)

    .anticon
      font-size: 19px
      margin-bottom: 0.5em
      color: white
      cursor: pointer
