.tn_alert
  position: fixed
  z-index: 1000
  width: 300px
  top: 8px
  right: 8px
  background: white
  border-radius: 5px
  padding: 16px
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75)

  .tn_alert__content
    display: flex
    align-items: center

  .tn_alert__actions
    margin-top: 16px
    display: flex
    justify-content: flex-end
    .btn
      margin-left: 8px

  .tn_alert__icon
    width: 40px
    height: 40px
    background: rgba(255, 0, 0, 0.2)
    border-radius: 50%
    padding: 0 7px
    margin-right: 16px

    .anticon
      font-size: 25px
      color: #ff5d67
      line-height: 44px

.tn_alert_show
  animation-duration: .7s
  animation-name: toLeft

.tn_alert_hide
  animation-duration: 1s
  animation-name: toRight

@keyframes toLeft
  from
    right: -100%
    opacity: 0
  to
    right: 8px
    opacity: 1

@keyframes toRight
  from
    right: 8px
    opacity: 1
  to
    right: -100%
    opacity: 0

@media screen and (max-width: 600px)
  .tn_alert
    width: calc(100% - 16px)

