.btn
  font-family: 'Source Sans Pro', sans-serif
  font-size: 15px
  padding: 5px 10px
  border-radius: 20px
  text-align: center
  outline: none
  border: none
  cursor: pointer

.btn-blue
  background: rgb(21, 115, 255)
  color: white
  transition: .5s background

  &:hover
    background: rgb(19, 102, 226)

.blue-bordered
  transition: .5s background, .3s background
  border: 1px solid rgb(19, 102, 226)
  background: none
  color: rgb(19, 102, 226)
  font-weight: lighter

  &:hover
    color: white
    background: rgb(19, 102, 226)