.card
  position: relative
  overflow: hidden
  background-color: white
  box-shadow: 0 0 4px rgba(0, 0, 0, .2)
  height: 100%

  .card_content
    position: relative
    height: 100%
    z-index: 200
    padding: 16px 16px 30px 16px
    display: flex
    flex-direction: column
    justify-content: space-between

    .card-icon
      width: 100px
      height: 100px
      border-radius: 50%
      font-size: 40px
      display: flex
      justify-content: center
      align-items: center
      color: white
      background: #1573ff
      margin: 14px auto 30px auto

    .card-title
      position: relative
      margin-bottom: 20px

      h2
        text-align: center

        span
          position: relative
          font-weight: lighter

          &:after
            content: ''
            position: absolute
            width: 80%
            height: 1px
            background: rgba(0, 0, 0, 0.32)
            left: 10%
            bottom: -13px

    .card-description
      margin-bottom: 20px
      text-align: center

    .card-actions
      display: flex
      justify-content: center

      button
        margin: 0 8px

  .card_overlay
    background: rgba(0, 0, 0, 0.3)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 200