footer
  padding: 16px
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
  background: white
  flex: 0 0 auto

@media screen and (max-width: 420px)
    footer
      display: none !important
img
    height: 40px