.page-header
  transition: .3s width, .3s margin-right, .3s margin-left
  width: calc(100% - 240px * 2)
  height: 60px
  position: fixed
  top: 0
  left: 0
  padding: 0 16px
  background: #332e2a
  z-index: 300
  margin-left: 240px
  .header-items-group
    display: flex
  .page-header__content-wrapper
    display: flex
    justify-content: space-between
    height: 100%
    .header-item
      display: flex
      padding: 0 10px
      justify-content: center
      align-items: center
      flex-direction: column
      height: 100%
      cursor: pointer
      background: rgba(0, 0, 0, 0)
      transition: .3s background

      &:hover
        background: rgba(0, 0, 0, 0.20)

      div
        font-size: 12px
        color: #e0e0e0

      .anticon
        font-size: 20px
        color: #e0e0e0
        margin-bottom: 3px

.without_sidebar
  .page-header
    width: calc(100% - 240px)
    margin-right: 240px
    margin-left: 0

.without_help
  .page-header
    width: calc(100% - 240px)
    margin-right:
    margin-left: 240px

.without_sidebar.without_help
  .page-header
    width: calc(100%)
    margin-right: 0
    margin-left: 0

@media screen and (max-width: 420px)
  .page-header
    display: none