//fonts
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap')
//fonts
//pages
@import "Pages/Login"
@import "Pages/Patients"
@import "Pages/MainPage"
@import "Pages/ResultPage"
@import "Pages/PreparationsPage"
@import "Pages/RecomendationsPage"
@import "Pages/UploadPage"
@import "Pages/CalculationPage"
@import "Pages/Login"
@import "Pages/History"
@import "Pages/PatientPage"
@import "Pages/Groups.sass"
//pages
//components
@import "Components/Components"
@import "Loader"
//components
//layout
@import "Layout/MainLayout"
@import "Layout/MobileLayout"
//layout

@keyframes toTop
  from
    position: fixed
    left: -240px
  to
    position: fixed
    left: 0

.ant-upload.ant-upload-drag .ant-upload
  padding: 16px 16px !important
